include mixins/header

<!DOCTYPE html>
html
    head
        title="배달의민족"
        block head
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/common.css")
        link(rel="stylesheet", href="/stylesheets/mixins/header.css")
    body
        main.main
            +header(page, title)
            block body