extends layout

block head 
  link(rel="stylesheet", href="/stylesheets/login.css")

block body
  .login-wrapper
    form(action="submit").login_form
      input(placeholder="아이디 또는 이메일", type="text").login_form__input
      label.login_form__alarm
        ="아이디를 입력해주세요"
      input(placeholder="비밀번호", type="text").login_form__input
      label.login_form__alarm
        ="비밀번호를 입력해주세요"
      button.login_form__button
        ="로그인"
    div.login_help
      a(href="/")
        ="아이디 찾기"
      a(href="/")
        ="비밀번호 찾기"
    div.login_select
      button.login_select__button
        ="페이스북으로 로그인"
      button.login_select__button
        ="네이버로 로그인"
      button.login_select__button
        ="Apple로 로그인"
      span.login_select_signup
        ="혹시, 배달의 민족이 처음이신가요?"
        a(href="/terms")
          ="회원가입"