extends layout
include mixins/customInput

block head 
  link(rel="stylesheet", href="/stylesheets/telecheck.css")
  link(rel="stylesheet", href="/stylesheets/customInput.css")

block body
  .telecheck-wrapper
    +customInput("", "전화번호를 입력해주세요.", "정확한 전화번호를 입력해주세요.", "휴대전화", true, true)
  
  script(type='module', src='/javascripts/customInput.js')