extends ../layout
include ../mixins/customInput

block head 
  link(rel="stylesheet", href="/stylesheets/pages/signup/others.css")
  link(rel="stylesheet", href="/stylesheets/mixins/customInput.css")
block body
  .others_wrapper
    .others_email
      +customInput("정확한 이메일 양식에 맞게 작성해주세요.", "이메일", true, true)(id="others_email", placeholder="예) baemin@woowahan.com")
      button.common_button.common_color.w_100
        ="중복확인"
    section(id="others_needed").hidden
      +customInput("닉네임을 입력해주세요.", "닉네임", true, true)(id="others_nickname", placeholder="예) baemin")
      +customInput("10자 이상 대문자, 숫자, 특수문자 중 2종류를 조합해야 합니다", "비밀번호", true, true)(id="others_password", type="password", placeholder="10자 이상 대문자, 숫자, 특수문자 중 2종류 조합")
      +customInput("알맞은 생년월일을 입력해주세요.", "생년월일", true, true)(id="others_birthday", placeholder="예) 2000.01.01")

  script(type='module', src='/javascripts/utils/customInput.js')
  script(type='module', src='/javascripts/pages/signup/others.js')
  