mixin header(page = "index", title = "")
    header.header_wrapper
        a(href="javascript:window.history.back()")
            .header_back
        .header_title
            =title
        .header_next